@import "~@/assets/css/icon";

@mixin flex($inline: false, $direction, $wrap, $justify, $align) {
  display: if($inline, inline-flex, flex);
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin ellipsis($line-count: 1, $line-height) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if($line-count < 2) {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    display: -moz-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    max-height: $line-height * $line-count;
    line-height: $line-height;
    word-wrap: break-word;
    line-clamp: $line-count;
    -webkit-line-clamp: $line-count;
    -moz-line-clamp: $line-count;
  }
}

// 반응형
// 1920, 1440, 1366, 1280, 768, 375

@mixin responsive-1920() {
  @media all and ( max-width: 1919px ) {
    @content;
  }
}
@mixin responsive-1440() {
  @media all and ( max-width: 1439px ) {
    @content;
  }
}
@mixin responsive-1366() {
  @media all and ( max-width: 1365px ) {
    @content;
  }
}
@mixin responsive-1280() {
  @media all and ( max-width: 1279px ) {
    @content;
  }
}
@mixin responsive-768() {
  @media all and ( max-width: 767px ) {
    @content;
  }
}
@mixin responsive-375() {
  @media all and ( max-width: 374px ) {
    @content;
  }
}
@mixin responsive-custom($width) {
  @media all and ( max-width: $width - 1 + px ) {
    @content;
  }
}